.success{
    background-color: green;
    color: #fff;
    padding: 15px;
    max-width: 200px;
    position: absolute;
    right: 10%;
}
.error{
    background-color: red;
    color: #fff;
    padding: 15px;
    max-width: 200px;
    position: absolute;
    right: 10%;
}